.header {
    background-color: lightgray;
    height: 10vh;
    text-align: center;
}

.menuItem {
    cursor: pointer;
    height: 10vh;
}

.menuItem:hover {
    font-weight: bold;
    background-color: grey;
    transition: 0.2s;
}